@font-face {
    font-family: "Marcellus";
    src: url(../fonts/Marcellus-Regular.ttf);
}
@font-face {
    font-family: "Mulish";
    src: url(../fonts/Mulish-Regular.ttf);
    font-weight: 400;
}
@font-face {
    font-family: "Mulish";
    src: url(../fonts/Poppins-Medium.ttf);
    font-weight: 500;
}
@font-face {
    font-family: "Mulish";
    src: url(../fonts/Mulish-SemiBold.ttf);
    font-weight: 600;
}
@font-face {
    font-family: "Mulish";
    src: url(../fonts/Mulish-Bold.ttf);
    font-weight: 700;
}
@font-face {
    font-family: "Mulish";
    src: url(../fonts/Mulish-ExtraBold.ttf);
    font-weight: 800;
}